# Data Types and Structures - Assignment Solutions

## Theoretical Questions

### Q1. What are data structures, and why are they important
Data structures are specialized formats for organizing, processing, retrieving, and storing data. They are important because they enable efficient data access and modification, helping solve complex computational problems.

### Q2. Explain the difference between mutable and immutable data types with examples
Mutable data types can be changed after creation (e.g., list, set, dict), while immutable types cannot be changed (e.g., int, float, str, tuple).
Example:
Mutable: l = [1,2]; l[0] = 10
Immutable: t = (1,2); t[0] = 10 -> Error

### Q3. What are the main differences between lists and tuples in Python
Lists are mutable and defined using square brackets [], whereas tuples are immutable and use parentheses (). Lists are generally slower than tuples due to their mutability.

### Q4. Describe how dictionaries store data
Dictionaries store data in key-value pairs. Each key maps to a value, and keys must be unique and immutable.

### Q5. Why might you use a set instead of a list in Python
Sets are used when you need to store unique elements and perform mathematical set operations like union, intersection, and difference.

### Q6. What is a string in Python, and how is it different from a list
A string is an immutable sequence of characters, while a list is a mutable sequence of items. Strings can’t be changed once created.

### Q7. How do tuples ensure data integrity in Python
Tuples are immutable, meaning their data cannot be modified after creation. This ensures the data remains constant and secure.

### Q8. What is a hash table, and how does it relate to dictionaries in Python
A hash table is a data structure that maps keys to values via a hash function. Python’s dictionary uses a hash table internally.

### Q9. Can lists contain different data types in Python
Yes, Python lists can contain items of different data types, such as integers, strings, and even other lists.

### Q10. Explain why strings are immutable in Python
Strings are immutable to enhance performance and memory efficiency, especially in multi-threaded environments.

### Q11. What advantages do dictionaries offer over lists for certain tasks
Dictionaries offer faster lookups via keys and better represent key-value relationships than lists.

### Q12. Describe a scenario where using a tuple would be preferable over a list
When data must remain constant and protected from modification, such as geographic coordinates or days of the week.

### Q13. How do sets handle duplicate values in Python
Sets automatically remove duplicate elements and only store unique values.

### Q14. How does the “in” keyword work differently for lists and dictionaries
In lists, it checks if a value exists. In dictionaries, it checks if a key exists.

### Q15. Can you modify the elements of a tuple? Explain why or why not
No, because tuples are immutable. Once defined, their elements cannot be altered.

### Q16. What is a nested dictionary, and give an example of its use case
A dictionary within a dictionary.
Example: students = {'101': {'name': 'Alice', 'age': 20}}

### Q17. Describe the time complexity of accessing elements in a dictionary
The average time complexity for accessing elements in a dictionary is O(1).

### Q18. In what situations are lists preferred over dictionaries
Lists are preferred when the order of items is important or when iterating through items without needing keys.

### Q19. Why are dictionaries considered unordered, and how does that affect data retrieval
Historically, dictionaries were unordered; from Python 3.7+, they preserve insertion order, but still rely on hash functions, which means key-based retrieval not index-based.

### Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
Lists use index-based retrieval, while dictionaries use key-based retrieval for faster and more descriptive access.

## Practical Questions

### Q1. Write a code to create a string with your name and print it

In [166]:
name = 'Vishal'
print(name)

Vishal

### Q2. Write a code to find the length of the string "Hello World"

In [167]:
s = 'Hello World'
print(len(s))

11

### Q3. Write a code to slice the first 3 characters from the string "Python Programming"

In [168]:
s = 'Python Programming'
print(s[:3])

Pyt

### Q4. Write a code to convert the string "hello" to uppercase

In [169]:
s = 'hello'
print(s.upper())

HELLO

### Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [170]:
s = 'I like apple'
print(s.replace('apple', 'orange'))

I like orange

### Q6. Write a code to create a list with numbers 1 to 5 and print it

In [171]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

### Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [172]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [173]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [174]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

### Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [175]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [176]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

### Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [177]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

### Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [178]:
t = (10, 20, 5, 15)
print(min(t))

5

### Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [179]:
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

### Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [180]:
t = ('apple', 'banana', 'kiwi')
print('kiwi' in t)

True

### Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [181]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

### Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [182]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

### Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [183]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

### Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [184]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

### Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [185]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

### Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [186]:
d = {'name': 'John', 'age': 25, 'city': 'New York'}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

### Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [187]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

### Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [188]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

### Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [189]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

### Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [190]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

### Q26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [191]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {'a': 1, 'b': 2}
print(lst, tup, dic)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

### Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [192]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[29, 37, 50, 80, 92]

### Q28. Write a code to create a list with strings and print the element at the third index

In [193]:
lst = ['apple', 'banana', 'cherry', 'date']
print(lst[3])

date

### Q29. Write a code to combine two dictionaries into one and print the result

In [194]:
d1 = {'a': 1}
d2 = {'b': 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

### Q30. Write a code to convert a list of strings into a set

In [195]:
lst = ['apple', 'banana', 'apple']
print(set(lst))

{'banana', 'apple'}